h1 /* les balises html <h1> seront verte */
{
    color: green;
}

#titre /* l'élément qui contient l'id titre sera centrer */
{
    text-align: center;
    border: 3px blue solid;           /* Bordure de 3pixels de couleur bleu et avec une bordure continue */
    border-radius: 10px;                /* Bordure arrondie de 10pixels */
    box-shadow: 6px 6px 5px black;    /* Ombre avec 4 paramètres dans l'ordre (en pixels) 1- Le décalage horizontal 2- décalaga vertical 3- adoussiement du dégrader et la couleur */
    text-shadow: 6px 6px 5px black;   /* Ombre avec 4 paramètres dans l'ordre (en pixels) 1- Le décalage horizontal 2- décalaga vertical 3- adoussiement du dégrader et la couleur */

}

#soustitre
{

    min-width: 10px;                    /* Largeur minimal */
    max-width: 1800px;                  /* Largeur maximal */
    min-height: 10px;                   /* Hauteur minimal */
    max-height: 1800px;                 /* Hauteur maximal */
    width: 500px;                       /* Manipulez la largeur */
    height: 100px;                      /* Manipulez la hauteur */
    background-color: gray;
    text-align: left;
    text-shadow: 6px 6px 5px red;
}

#soussoustitre
{
    text-align: right;
}

p /* les balises html <p> seront bleue */
{
    color: blue;
    font-weight: bold; /* Formater le texte en gras pas exemple */
    font-size: 20px; /* La taille de la police sera de 20 pixels */
}

ol, ul /* les balises html <ol> et <ul> seront orange foncé */
{
    color: orangered;
}

.lienOpenClassrooms /* l'élément qui contient la classe "lienOpenClassrooms" dans le html sera de couleur violet */
{
    color: purple;
}

#reseaux
{
    color: gray;
    font-size: 15px
}

#fb
{
    color: black;
    font-weight: bold
}